body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #11999E;
}

p {
  margin: 60px auto;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 1.40;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 50px;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 5%;
  margin-top: 50px;
}

/*****************************CLASS SELECTOR**********************************/
.dev {
  text-decoration: underline;
}

.top-contanier {
  background-color: #E7F6F2;
  padding-top: 150px;
  position: relative;

}

.bottom-container {
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link {
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6 
}


.bottom-cloud {
  position: absolute;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 75px;
}

.me {
  max-height: 250px;
  max-width: 250px;
  border-radius: 100%;
  margin-top: 2.5rem;
}

.skill-images {
  width: 25%;
  float: left;
  margin-right: 1rem;
}

.skill-row {
  max-width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

/****************************ID SELECTOR************************/

#guitar {
  float: right;
}
